/* Estilos aplicados a toda la pagina */
body {
}

/*Estilos  para PAGE (caracteristicas iniciales y base de la página) aquí*/
.page {
  color: #fff;
  background-image: url(../images/background_header.svg);
  background-size: cover;

  background-color: #ffffff;

  /*valor predeterminado minimo ancho de una pagina en pantalla*/
  min-width: 1100px;

  /*valor predeterminado para maximo ancho de una pagina pantalla*/
  max-width: 1600px;

  /*Tamano de letra promedio usados como valor predeterminado */
  font-size: 16px;

  /*tipografia de letra usado en la pagina, descargado el link de google fond*/
  font-family: "inter", "noto serif", Arial, Helvetica, sans-serif;

  /* altura de la lineas donde esta las letras */
  line-height: 20px;
  margin: auto;
}

/* Estilos de la seccion   ENCABEZADOS aquí*/

/*Estilos  HEADER (caracteristicas iniciales y base del Encabezado) aquí*/

.header {
  background-color: #ffffff;
  background-image: url(../images/background_header.svg);
  background-size: cover;
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
  position: relative;

  display: flex;
  flex-direction: column;
}

/*Estilos para NAV (Contenido del menu de Navegación del Encabezado) aquí*/
.nav {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  padding-right: 80px;
  padding-left: 30px;
}

.logo {
  width: 105px;
  height: 39px;
  z-index: 10;
}

.nav__links {
  list-style-type: none;

  display: flex;
  gap: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  z-index: 10;
}

.nav__link {
  color: black;
  list-style-type: none;
}

/*Estilos para HEADER (Contenido del Encabezado) aquí*/

.header__title {
  color: #2f80ed;
  max-width: 709px;
  padding-left: 80px;
  margin-top: 183px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 58px;
  line-height: 72px;
  letter-spacing: 1px;
}

.span-accent {
  font-family: noto serif;
  font-style: italic;
  font-weight: normal;
  font-size: 58px;
  line-height: 72px;
  color: #2f80ed;
}

.header__description {
  color: black;
  max-width: 683px;
  margin-top: 28px;
  padding-left: 80px;

  font-family: noto serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.header__image {
  width: 646px;
  height: 568px;
  position: absolute;
  top: 124px;
  right: 5px;
}

/*Estilos para  HEADER_FOOTER (Footer del ecabezado) aquí*/

.header__footer {
  display: flex;
  justify-content: space-between;
  font-family: inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #6f6f6f;

  padding-left: 80px;
  padding-right: 80px;
  margin-top: auto;
}
.header__footer-informations {
  list-style-type: none;
}
.paragraph {
  display: flex;
  align-items: flex-end;
}

/*SECCION RECETAS */
/* Estilos para los BLOQUE RECIPES */

.recipes {
  background-color: #0a2750;
  background-image: url(../images/background_recipes.svg);
  box-sizing: border-box;
  padding-top: 100px;
  padding-bottom: 215px;
  padding-left: 80px;
}

.recipes__title {
  max-width: 580px;
  margin-bottom: 24px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.recipes__subtitle {
  max-width: 438px;

  margin-bottom: 80px;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: white;
}

.recipes__videos {
  display: flex;
  gap: 40px;
  justify-content: center;
}

.recipes__video-item {
}

.iframe {
}
